
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision


opencv-python-headless==4.10.0.084

librosa
soundfile
matplotlib
numpy
Pillow


moviepy

gradio
huggingface_hub
python-dotenv
